@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Extensions

@{
    Layout = "master.cshtml";

    var categoryName = Model.Value<string>("nameOfPage");

    // Get all child items under the products root node
    var selection = Umbraco
        .Content(Guid.Parse("4a5de1cd-c89c-476f-b85c-05904fea31b8")) // Replace with your product root node
        ?.Children()
        .Where(x => x.IsVisible() &&
                    x.Value<IEnumerable<string>>("categories")?.Contains(categoryName) == true)
        .OrderByDescending(x => x.CreateDate);
}

@await Html.PartialAsync("Header")

<div class="py-10 pt-lg-16 pb-lg-12">
    <div class="container">
        <div class="mb-5 mt-5">
            <h1>@categoryName</h1>
            <p>@Model.Value("text")</p>
        </div>

        <div class="row">
            <!-- Sidebar -->
            <div class="col-sm-12 col-md-2">
                <h4>Product Categories</h4>
                @await Html.PartialAsync("Categories")
            </div>

            <!-- Product Cards -->
            <div class="col-sm-12 col-md-10">
                <div class="row">
                    @foreach (var item in selection ?? Enumerable.Empty<IPublishedContent>())
                    {
                        var productImage = item.Value<IPublishedContent>("leadProductImage");
                        var price = item.Value<string>("priceTemp") ?? "0.00";
                        var altText = item.Value<string>("productImageAlternativeText") ?? item.Name;
                        var imageUrlLarge = productImage?.GetCropUrl(408, 408, "&format=jpg");
                        var imageUrlSmall = productImage?.GetCropUrl(334, 334, "&format=jpg");

                        <div class="col-sm-12 col-md-4 mb-5">
                            <a href="@item.Url()">
                                <picture>
                                    <source media="(max-width: 399px)" srcset="@imageUrlSmall" />
                                    <source media="(min-width: 400px)" srcset="@imageUrlLarge" />
                                    <img src="@imageUrlLarge" alt="@altText" class="img-fluid mb-3" width="408" height="408" loading="lazy" />
                                </picture>
                            </a>

                            <h4 class="d-inline">
                                <a href="@item.Url()" class="text-dark">@item.Name</a>
                            </h4>
                            <p class="fw-light float-end d-inline">$@price</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
